workflows/Get documents.json
{
  "name": "Get documents",
  "nodes": [
    {
      "parameters": {
        "path": "get-documents",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b357d1f9-c1de-4f7a-a0a7-9949c9868047",
      "name": "Webhook",
      "webhookId": "6f94b107-05c1-4fa7-9038-f403d0e015a9"
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "prompt": "={{ $json.body.text }}",
        "topK": 1
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "ef3685bf-44f7-4ffe-9859-779457c2e19e",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "a4517839-5e70-4890-a923-040570717dbc",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "DBTYYuJIbjnjViPU",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1585804-3fe1-4437-8f01-77b9d4db9b6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8340478bb6cf69a6c6228440bb2763a8ee396723f0a0de14ac81001e45d558ad"
  },
  "id": "Fp2pnnNYbVW8le9j",
  "tags": []
}
